/*for home.html only*/
body{
	background-image: url("bodybuilding.jpg");
	width: auto;
  	height: auto;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
	box-sizing: border-box;
}

.jumbotron{
	background: white;
	text-align: center;
}
footer{
  text-align: center;
  border-top: 5px solid #E0E0E0;
  margin-top: 5em;
}

.panel-footer{
  text-align: center;
  font-size: 10px;
	background-color: black;
	color: white
}

.form-group{
	color: blue;
}
